{% extends 'comics/archive/base.html' %}

{% block title %}Pages{% endblock %}
{% block archive_content %}
<script>{% include 'comics/archive/filters.js' %}</script>
<div class="archive-tile-container">
    <input type="search" spellcheck="false" oninput="filterResults(this)" placeholder="Search Page Titles...">
</div>
<div class="archive-tile-container">
    {% for page in pages_and_chapters %}
        {% if page.posted_at %}
            {# This is a Page #}
            <a data-title="{{ page.title }}" class="archive-tile archive-tile-short" href="{{ page.get_absolute_url }}" style="background-image: url({{page.thumb_url}});">
                <strong>{{ page.title }}</strong>
                <small>{{ page.posted_at | date:"d M Y" }}</small>
            </a>
        {% else %}
            {# This is a Chapter Heading instead #}
            <h2 class="archive-chapter-break" style="width:100%">{{ page.title }}</h2>
        {% endif %}
    {% endfor %}
</div>
{% include 'comics/ad.html' %}
{% endblock %}
