{% extends 'comics/archive/base.html' %}

{% block social_media_tags %}
    <meta property="og:title" content="{{ tag.title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ request.scheme }}://{{request.get_host}}{{ tag.get_absolute_url }}" />
    {% if tag.icon_url %}<meta property="og:image" content="{{ request.scheme }}://{{request.get_host}}{{ tag.icon_url }}" />{% endif %}
    <meta property="og:description" content="{{ tag.post }}" />
    <meta property="og:site_name" content="{{ comic.title }} | A webcomic by {{ comic.author }}" />
{% endblock %}

{% block archive_content %}
    <div class="tag-detail-header">
        <img {% if tag.icon_url %}src="{{ tag.icon_url }}"{% endif %}/>
        <div>
            <h1>{{ tag.title }}</h1>
        </div>
    </div>

    <div id="tag-post">{{ tag.post_html | safe }}</div>

    {% with count=tag.pages.active.count %}
    <h2>{{ tag.title }} appears on {{ count }} Page{{ count|pluralize:",s" }}:</h2>
    {% endwith %}
    <div class="archive-tile-container">
        {% for page in tag.pages.active %}
            <a data-title="{{ page.title }}" class="archive-tile archive-tile-short" href="{{ page.get_absolute_url }}" style="background-image: url({{page.thumb_url}});">
                <strong>{{ page.title }}</strong>
                <small>{{ page.posted_at | date:"d M Y" }}</small>
            </a>
        {% endfor %}
    </div>
{% endblock %}