{% extends 'comics/archive/base.html' %}

{% block title %}{{ tag_type.title }}{% endblock %}
{% block archive_content %}
<script>
function filterResults(inputElement) {
    // Declare variables
    const query = inputElement.value.toLowerCase();

    const tiles = document.querySelectorAll(".archive-tile");
    tiles.forEach(function (tile) {
        tile.hidden = tile.dataset.title.toLowerCase().indexOf(query) == -1;
    });
}

function sortResults(selectElement) {
    const selection = selectElement.value;

    // Define common sorting functions
    const alphabetical = function (a, b) {
        return a.dataset.title.toLowerCase().localeCompare(b.dataset.title.toLowerCase());
    };
    const mostAppearances = function (a, b) {
        const ai = parseInt(a.dataset.count);
        const bi = parseInt(b.dataset.count);
        return ai < bi ? 1 : bi < ai ? -1 : 0;
    };
    const fewestAppearances = function (a, b) {
        const ai = parseInt(a.dataset.count);
        const bi = parseInt(b.dataset.count);
        return ai > bi ? 1 : bi > ai ? -1 : 0;
    };

    // Sort the array
    const tiles = Array.from(document.querySelectorAll(".archive-tile"));
    if (selection === "alphabetical") {
        tiles.sort(alphabetical);
    } else if (selection === "mostAppearances") {
        tiles.sort(mostAppearances);
    } else if (selection === "fewestAppearances") {
        tiles.sort(fewestAppearances);
    } else {
        console.log("Unknown sorting function: " + selection);
    }

    // Reorder the elements
    tiles.forEach(function (tile) {
        tile.parentNode.appendChild(tile);
    });
}
</script>
<div class="archive-tile-container">
    <input type="search" spellcheck="false" oninput="filterResults(this)" placeholder="Search {{ type.title }}...">
    <select onchange="sortResults(this)">
        <option value="mostAppearances">Most Appearances</option>
        <option value="fewestAppearances">Fewest Appearances</option>
        <option value="alphabetical">Alphabetical</option>
    </select>
</div>
<div class="archive-tile-container">
    {% for tag in sorted_tags.all %}
    {% with count=tag.pages.count %}
    <a data-count="{{ count }}" data-title="{{ tag.title }}" class="archive-tile" href="{{ tag.get_absolute_url }}" style="background-image: url({{tag.icon_url}});">
        <strong>{{ tag.title }}</strong>
        <small>{{ count }} Page{{ count|pluralize:",s" }}</small>
    </a>
    {% endwith %}
    {% endfor %}
</div>
{% endblock %}
