# https://caddy.community/t/serving-tens-of-thousands-of-domains-over-https-with-caddy/11179

{
	on_demand_tls {
		ask	http://django:8000/caddy/
	}
}

http://, https:// {
	tls internal {
		on_demand
	}
	reverse_proxy django:8000

	handle_path /static/* {
		root * /var/www/static/
		file_server
	}
	handle_path /media/* {
		root * /var/www/media/
		file_server
	}
}