/**
 * This style sheet is adapted from the tensorflowjs example hosted at
 * https://github.com/tensorflow/tfjs-examples/tree/master/webcam-transfer-learning
 */

@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans+SC");

body {
    background: rgb(48, 48, 48);
    font-family: "Alegreya Sans SC", sans-serif;
    margin: 0;
}

#error {
    color: rgb(255, 255, 255);
    font-size: 1.8em;
    padding: 0.6em;
    overflow: hidden;
    text-align: center;
    visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#videos {
    padding: 5px;
    text-align: center;
    overflow: hidden;
}

.toggle {
    text-align: center;
}

.toggle label {
    color: rgba(255, 255, 255, 0.6);
    border: solid 2px rgba(255, 255, 255, 0.6);
    font-size: 1.1em;
    padding: 0.6em;
    width: 8em;
    overflow: hidden;
    display: inline-block;
    transition: all 0.3s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.toggle input[type="radio"] {
    display: none;
}

.toggle input[type="radio"]:checked+label {
    color: rgba(0, 162, 219, 0.9);
    border: solid 2px rgba(0, 162, 219, 0.9);
}