{% if ad %}
<div class="invitation">
    <a target="_blank" rel="noopener" href="{{ ad.url }}">
        <img alt="Invitation Banner" src="{{ ad.image.url }}"/>
    </a>
</div>
{% endif %}

{% if dialog_ad %}
<dialog class="dialog-invitation dialog">
    <a target="_blank" rel="noopener" href="{{ dialog_ad.url }}">
        <img class="dialog-image" alt="Dialog Banner" src="{{ dialog_ad.image.url }}" />
    </a>
    <button class="dialog-close" aria-label="Close dialog">✕</button>
</dialog>
{% endif %}