{% extends 'comics/base.html' %}

{% block content %}
    <div class="comic-post">
        <h1 style="text-align: center;">Archive</h1>
        <a class="tag" href="{% url 'index' %}">Back to the comic</a> <!-- TODO: Add a back arrow icon -->
        <div class="archive-tagtype-container">
        {% for type in comic.tag_types.all %}
            <div class="archive-tile">
                <img height="128px" width="128px" src="{{ type.default_icon.url }}"/>
                <a href="{{ type.get_absolute_url }}">{{ type.title }}</a>
            </div>
        {% endfor %}
        </div>
        <table style="margin-left: -10px; margin-right: -10px">
            {% for page in comic.pages.active %}
            <tr>
                <td class="archive-page-td-date">{{ page.posted_at | date:"M d Y" }}</td>
                <td class="archive-page-td-title"><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}