{% extends 'comics/base.html' %}

{% block content %}
    <div class="comic-post">
        <h1 style="text-align: center;">{{ comic.title }} Archive</h1>
        <div class="archive-tagtype-container">
        {% for type in comic.tag_types.all %}
            <a href="{{ type.get_absolute_url }}">{{ type.title }}</a>
        {% endfor %}
        </div>
        <table style="margin-left: -10px; margin-right: -10px">
            {% for page in comic.pages.all %}
            <tr>
                <td class="archive-page-td-date">{{ page.posted_at | date:"M d Y" }}</td>
                <td class="archive-page-td-title"><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}