<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-126098960-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-126098960-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ comic.title }}{% block page_title %} | A webcomic by {{ comic.author }}{% endblock %}</title>
    <meta name="description" content="{% block page_description %}{% endblock %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <style>
        {% include 'comics/reader.css' %}
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.1/markdown-it.min.js"></script>

    {% block social_media_tags %}{% endblock %}
</head>
<body>
<script>
    {% include 'comics/reader.js' %}
</script>
<div class="content-background">
    <div class="content">
        <header>
            <a href="{% url 'reader-redirect' comic.slug %}"><img class="header-image" src="{{ comic.header_image.url }}"/></a>
        </header>

        {% block content %}{% endblock %}
    </div>
    <footer>
        <div class="content footer-content">
            <p>Can't get enough {{ comic.title }}? Visit us on your favorite platform!</p>
            <div class="social-container">
                {% if comic.patreon_link %}
                <a href="{{ comic.patreon_link }}"><div class="social-icon"><i class="fab fa-patreon"></i></div></a>
                {% endif %}
                {% if comic.discord_link %}
                <a href="{{ comic.discord_link }}"><div class="social-icon"><i class="fab fa-discord"></i></div></a>
                {% endif %}
                {% if comic.reddit_link %}
                <a href="{{ comic.reddit_link }}"><div class="social-icon"><i class="fab fa-reddit-alien"></i></div></a>
                {% endif %}
                {% if comic.twitter_link %}
                <a href="{{ comic.twitter_link }}"><div class="social-icon"><i class="fab fa-twitter"></i></div></a>
                {% endif %}
                {% if comic.instagram_link %}
                <a href="{{ comic.instagram_link }}"><div class="social-icon"><i class="fab fa-instagram"></i></div></a>
                {% endif %}
                <a href="{% url 'feed' comic.slug %}"><div class="social-icon"><i class="fas fa-rss"></i></div></a>
            </div>
        </div>
        <div class="footer-subsection">
            <p>{{ comic.title }} © 2018 {{ comic.author }}</p>
            <p>Comics Platform © 2018 Thane Brimhall. <a href="https://github.com/pennomi/comics">Fork us on GitHub!</a></p>
        </div>
    </footer>
</div>
</body>
</html>