{% extends 'comics/base.html' %}

{% block page_title %} | Community{% endblock %}
{% block page_description %}Join us on your favorite social media platform!{% endblock %}

{% block content %}
<div class="content-frame">
    <p>
        Back to: <a class="tag" {% if comic.favicon_image %}style="background-image: url({{ comic.favicon_image.url }})"{% endif %} href="{% url 'index' %}">Comic</a>
    </p>
    <h1 class="center-text">Can't Get Enough Swords?</h1>
    <p class="center-text">Join us on your favorite social platform!</p>

    <div class="archive-tile-container">
        {% for link in comic.social_links.all %}
            {% if link.visit_url %}
            <a class="archive-tile" href="{{ link.visit_url }}"
               style="background-image: url('{% if link.platform.image %}{{ link.platform.image.url }}{% else %}?{% endif %}')">
              <strong>{% if link.title %}{{ link.title }}{% else %}{{ link.platform.name }}{% endif %}</strong>
              <small>{% if link.visit_cta %}{{ link.visit_cta }}{% else %}{{ link.platform.visit_cta }}{% endif %}</small>
            </a>
            {% endif %}
        {% endfor %}
        <!-- TODO: Forums -->

    </div>
</div>
{% endblock %}