{% load static %}

{% if comic.font %}
@font-face {
  font-family: 'ComicFont';
  src: url({{ comic.font.url }});
}
{% endif %}

/* Additional resets */
h1 { font-size: 32px; font-weight: bold; }
h2 { font-size: 24px; font-weight: bold; }
h3 { font-size: 20px; font-weight: bold; }
p { margin-top: 8px; margin-bottom: 8px; }
em { font-style: italic; }
strong { font-weight: bold; }
img { vertical-align:bottom; }


body {
    font-family: 'ComicFont', 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background: {{ comic.overflow }};
}

hr {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 10px;
    border: 0px;
    {% if comic.hr_image %}
    background-image: url({{ comic.hr_image.url }});
    {% else %}
    {% endif %}
}

.content-background {
    background: {{ comic.background }};
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-padding: 10px;
    max-width: 892px;
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
}

.content {
    display: inline-block;
    width: 100%;
    max-width: 700px;  /* Goblins is 892px, S&W 980px, Gaia 770px, Schlock Mercenary 780px, Swords 700px  */
}

header {
    padding: 0;
    margin: 0;
}

.header-image {
    width: 100%;
    height: auto;
}

.panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comic-image {
    width: 100%;
    height: auto;
}

#comic-post-date {
    margin-bottom: 16px;
    font-size: 12px;
}

.comic-text-wrapper {
}

/* NAV BUTTONS */

.comic-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.nav-box{
	position: relative;
	width: 20%;		/* desired width */
}
.nav-box:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}


/* TAGS */
#comic-tags {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 12px;
}

.tag-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.tag {
    background-color: #585039;
    margin: 2px;
    padding: 4px;
    height: 16px;
    line-height: 16px;
    text-align: center;
}

.tag img {
    height: 16px;
    width: 16px;
}

#comic-tags a:link {
    color: black;
    text-decoration: none;
}
#comic-tags a:visited {
    color: black;
}
#comic-tags a:hover {
    color: #978b65;
}
#comic-tags a:active {
    color: #978b65;
}

/* IMAGE SPRITES*/
.navigation-button {
    position: absolute;
    top: 0; bottom: 0;
    width: 100%;
    border: none;
    outline: none;
    {% if comic.navigation_spritesheet %}
    background: url({{ comic.navigation_spritesheet.url }}) no-repeat;
    {% else %}
    background: url({% static "comics/default-sprites.png" %}) no-repeat;
    {% endif %}
    background-size : 500% 200%;
}
.navigation-button:active {
   background-position-y: 100%;
}
@media (pointer:fine) {
    .navigation-button:hover {
       background-position-y: 100%;
    }
}

.navigation-first {
   background-position-x: 0;
}
.navigation-previous {
   background-position-x: 25%;
}
.navigation-next {
   background-position-x: 50%;
}
.navigation-last {
       background-position-x: 75%;
}
.navigation-archive {
   background-position-x: 100%;
}


/* COMIC BLOG POST SECTION */
.comic-post {
    border: 43px solid transparent;
    border-image: url({{ comic.post_border_image.url }}) fill 43 repeat;
    margin-bottom: 48px;
}
.comic-post-content {
    margin: -20px;  /* To undo the very wide image border */
}


/* COMIC TRANSCRIPT SECTION */
.comic-transcript-content {
    margin: -20px;
}

/* FOOTER AND SOCIAL ICONS */
.social-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
.social-icon {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    font-size: 24px;
    padding: 8px;
    text-align: center;
    background-color: #585039;
    margin: 8px;
}

footer {
    color: #000000;
    background-color: #978b65;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    text-align: center;
}

.footer-content {
    padding: 8px;
    box-sizing: border-box;
}

.footer-subsection {
    background-color: #585039;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

footer a:link {
    color: black;
}
footer a:visited {
    color: black;
}
footer a:hover {
    color: #978b65;
}
footer a:active {
    color: #978b65;
}