{% load static %}

:root {
    /* Configurable settings */

    /* Base Colors */
    --overflow-background: #ECEFF1;
    --content-background: #FFFFFF;
    --primary-text-color: #212121;
    --footer-background-color: #B0BEC5;

    /* Tag Colors */
    --tag-background-color: #B0BEC5;
    --tag-text-color: #212121;

    /* Images */
    --spinner-image: url({% static "comics/default-spinner.png" %});
    --navigation-spritesheet: url({% static "comics/default-sprites.png" %});
    --post-border-image: url({% static "comics/default-container.png" %});

    /* Unconfigurable settings */
    --tag-error-color: #B00020;
    --default-tag-icon: url({% static "comics/default-tag-icon.png" %});

    /* Padding standards */
    --paragraph-padding: 8px;
    --tile-size: 105px;  /* At current settings, 105px is good for iPhone size and desktop size */

    /* Page sizing */
    --comic-max-width: 728px;  /* 728px because Google's AdSense gets the most competition at that size. */
    --overflow-max-width: 892px;  /* Whatever is comfortable for wide screen viewing. */
    --ad-height: 0px;

    /* Markdown Styling */
    --blockquote-border-color: #00000044;
    --blockquote-background-color: #FFFFFF44;
}


/* RESET CSS AND GLOBAL STYLING */
h1 { font-size: 28px; font-weight: bold; margin-bottom: var(--paragraph-padding); }
h2 { font-size: 20px; font-weight: bold; margin-bottom: var(--paragraph-padding); }
p { font-size: 14px; margin-bottom: var(--paragraph-padding); }
small { font-size: 12px; }
em { font-style: italic; }
strong { font-weight: bold; }
img { vertical-align: bottom; }
blockquote {
    border-left: 4px solid var(--blockquote-border-color);
    background-color: var(--blockquote-background-color);
    padding: calc(var(--paragraph-padding) + 1px) 8px 1px 8px;
    margin-bottom: var(--paragraph-padding);
    width: auto;
    box-sizing: border-box;
}
a:link {
    color: var(--primary-text-color);
}
a:visited {
    color: var(--primary-text-color);
}


/* CORE PAGE LAYOUT */
html {
    height: 100%;
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
    font-family: 'ComicFont', 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    background: var(--overflow-background);
    display: flex;
    justify-content: center;
    color: var(--primary-text-color);
    min-height: 100%;
}
.overflow {
    background: var(--content-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--overflow-max-width);
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 10px #00000044;
}
.content {
    display: inline-block;
    width: 100%;
    max-width: var(--comic-max-width);
    overflow: hidden;
}

.content-frame {
    box-sizing: border-box;
    border: 20px solid transparent;
    border-image-source: var(--post-border-image);
    border-image-slice: 20 fill;
    border-image-repeat: repeat;
    margin-bottom: calc(var(--paragraph-padding)*2);
}

header {
    padding: 0;
    margin: 0;
}
.header-image {
    width: 100%;
}

.cta-footer {
    margin-top: calc(100vh - var(--ad-height));
    width: 100%;
    max-width: var(--comic-max-width);
    height: var(--ad-height);
    max-height: var(--ad-height);
    position: fixed;
    background-color: #cccccc;
}


/* FOOTER AND SOCIAL ICONS */
.social-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    max-width: 100%;
}
.social-icon {
    width: 24px;
    height: 24px;
    font-size: 24px;
    padding: 8px;
    text-align: center;
    margin: 8px;
}
footer {
    background-color: var(--footer-background-color);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    text-align: center;
    padding-bottom: var(--ad-height);
}
.footer-content {
    padding: 8px;
    box-sizing: border-box;
}
.footer-subsection {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
footer a:hover {
    color: #978b65;
}
footer a:active {
    color: #978b65;
}


/* READER PAGE */
#staff-text {
    display: none;
}

#comic-image-spinner {
    position: absolute;
    top: calc(50% - 120px);
    left: calc(50% - 120px / 2);
    width: 120px;
    max-width: 100%;
    height: 120px;
    animation: spin 2s linear infinite;
    background-image: var(--spinner-image);
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 0.1s ease-out;
    opacity: 0;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#ad-banner {
    width: 100%;
    max-width: var(--comic-max-width);
    overflow: hidden;
    margin-bottom: calc(var(--paragraph-padding)*2);
}

.comic-image {
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease-out
}

#comic-post-date {
    margin-bottom: 16px;
    font-size: 12px;
}


/* NAV BUTTONS */
.comic-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    transition: opacity 0.5s ease-out
}
.nav-box{
	position: relative;
	width: 20%;		/* desired width */
}
.nav-box:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}


/* NAVIGATION BUTTONS */
.navigation-button {
    position: absolute;
    top: 0; bottom: 0;
    width: 100%;
    border: none;
    outline: none;
    background: var(--navigation-spritesheet);
    background-repeat: no-repeat;
    background-size : 500% 200%;
    cursor: pointer;
}
.navigation-button:active {
   background-position-y: 100%;
}
.navigation-button:focus {
   background-position-y: 100%;
}
@media (pointer:fine) {
    .navigation-button:hover {
       background-position-y: 100%;
    }
}

.navigation-first {
   background-position-x: 0;
}
.navigation-previous {
   background-position-x: 25%;
}
.navigation-next {
   background-position-x: 50%;
}
.navigation-last {
       background-position-x: 75%;
}
.navigation-archive {
   background-position-x: 100%;
}


/* COMIC INVITATION SECTION */
.invitation {
    width: 100%;
    margin-bottom: calc(var(--paragraph-padding)*2);
}
.invitation img {
    width: 100%;
}


/* TAGS */
#comic-tags {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 12px;
}
.tag {
    background-color: var(--tag-background-color);
    margin: 1px 2px;
    padding: 4px;
    padding-left: 24px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-image: var(--default-tag-icon);
    background-size: 16px 16px;
    background-position: 4px 4px;
    background-repeat: no-repeat;
}
.tag:hover {
    filter: brightness(125%);
}
.tag.error {
    background-color: var(--tag-error-color);
}


/* ARCHIVE TILES */
.archive-tile-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.archive-tile {
    width: var(--tile-size);
    background-color: var(--tag-background-color);
    padding: var(--paragraph-padding);
    padding-top: calc(var(--tile-size) + var(--paragraph-padding) * 2);
    margin: var(--paragraph-padding);
    background-image: var(--default-tag-icon);
    background-size: var(--tile-size) var(--tile-size);
    background-position: var(--paragraph-padding) var(--paragraph-padding);
    background-repeat: no-repeat;
    text-align: center;
    text-decoration: none;
    word-wrap: break-word;
    font-size: 14px;
}
.archive-tile:hover {
    filter: brightness(125%);
}
.archive-tile > strong, .archive-tile > small {
    display: block;
}


/* ARCHIVE PAGE TABLE */
.archive-page-td-date {
    min-width: 128px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.archive-page-td-title {
    border-left: 4px solid var(--blockquote-border-color);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 24px;
}


/* TAG DETAIL PAGE */
.tag-detail-header {
    display: flex;
    align-items: center;
}

.tag-detail-header img {
    height: 128px;
    width: 128px;
    border-right: 4px solid var(--blockquote-border-color);
    margin-right: 24px;
    padding-right: 24px;
}

#tag-post {
    margin-top: 24px;
    margin-bottom: 24px;
}


/* GLOBAL INDEX PAGE */
.index-section {
    background-color: #CFD8DC;
    padding: 24px;
    margin: 0;
    text-decoration: wavy;
}
.index-section:nth-child(even) {
    background-color: #B0BEC5;
}