{% load static %}

:root {
    /* 728px should be the minimum for this value, because Google's AdSense gets the most competition at that size. */
    --comic-max-width: 728px;  /* Goblins is 892px, S&W 980px, Gaia 770px, Schlock Mercenary 780px, Swords 700px */
    --overflow-max-width: 892px;
    --ad-height: 0px;
    --blockquote-border-color: #00000044;
    --blockquote-background-color: #FFFFFF44;
    --tag-background-color: #585039;
    --tag-text-hover-color: #978b65;
    --footer-background-dark-color: #585039;
    --footer-background-light-color: #585039;
}

::-webkit-scrollbar {
    display: none;
}


{% if comic.font %}
@font-face {
  font-family: 'ComicFont';
  src: url({{ comic.font.url }});
}
{% endif %}

/* Additional resets */
h1 { font-size: 32px; font-weight: bold; margin-bottom: 8px; }
h2 { font-size: 24px; font-weight: bold; margin-bottom: 8px; }
h3 { font-size: 20px; font-weight: bold; margin-bottom: 8px; }
p { margin-top: 8px; margin-bottom: 8px; }
em { font-style: italic; }
strong { font-weight: bold; }
img { vertical-align:bottom; }
blockquote {
    border-left: 4px solid var(--blockquote-border-color);
    background-color: var(--blockquote-background-color);
    padding: 4px;
    width: auto;
    box-sizing: border-box;
}

/* LINK STYLING */
a:link {
    color: black;
}
a:visited {
    color: black;
}

body {
    font-family: 'ComicFont', 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    width: 100vw;
    background: {{ comic.overflow }};
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    scrollbar-width: none;  // Firefox
}

hr {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 10px;
    border: 0px;
    {% if comic.hr_image %}
    background-image: url({{ comic.hr_image.url }});
    {% endif %}
}

.cta-footer {
    margin-top: calc(100vh - var(--ad-height));
    width: 100%;
    max-width: var(--comic-max-width);
    height: var(--ad-height);
    max-height: var(--ad-height);
    position: fixed;
    background-color: #cccccc;
}

.content-background {
    background: {{ comic.background }};
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--overflow-max-width);
    width: 100vw;
    box-sizing: border-box;
}

.content {
    display: inline-block;
    width: 100%;
    max-width: var(--comic-max-width);
}

header {
    padding: 0;
    margin: 0;
}

.header-image {
    width: 100%;
}

#staff-text {
    display: none;
}

#comic-image-spinner {
    position: absolute;
    top: calc(50% - 120px);
    left: calc(50% - 120px / 2);
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    {% if comic.spinner_image %}
      background: url({{ comic.spinner_image.url}}) no-repeat;
      background-size: contain;
    {% else %}
      border-radius: 50%;
      border: 8px solid white;
      border-color: white transparent white transparent;
    {% endif %}
    transition: opacity 0.1s ease-out;
    opacity: 0;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#ad-banner {
    width: 100%;
    max-width: var(--comic-max-width);
    overflow: hidden;
    background-color: white;  // For debugging when the ad is removed
}

.comic-image {
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease-out
}

#comic-post-date {
    margin-bottom: 16px;
    font-size: 12px;
}

.comic-text-wrapper {
}


/* NAV BUTTONS */
.comic-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    transition: opacity 0.5s ease-out
}
.nav-box{
	position: relative;
	width: 20%;		/* desired width */
}
.nav-box:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}


/* TAGS */
#comic-tags {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 12px;
}

.tag-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.tag {
    background-color: var(--tag-background-color);
    margin: 2px;
    padding: 4px;
    height: 16px;
    line-height: 16px;
    text-align: center;
}

.tag div {
    height: 16px;
    width: 16px;
    background-size: cover;
    float: left;
}

.tag-list-entry {
    margin: 8px;
}

.tag-list-entry img{
    height: 24px;
    width: 24px;
}

.tag-list-entry span{
    height: 24px;
    margin-left: 8px;
    line-height: 24px;
    text-align: center;
}


#comic-tags a:link {
    color: black;
    text-decoration: none;
}
#comic-tags a:visited {
    color: black;
}
#comic-tags a:hover {
    color: var(--tag-text-hover-color);
}
#comic-tags a:active {
    color: var(--tag-text-hover-color);
}

/* IMAGE SPRITES*/
.navigation-button {
    position: absolute;
    top: 0; bottom: 0;
    width: 100%;
    border: none;
    outline: none;
    {% if comic.navigation_spritesheet %}
    background: url({{ comic.navigation_spritesheet.url }}) no-repeat;
    {% else %}
    background: url({% static "comics/default-sprites.png" %}) no-repeat;
    {% endif %}
    background-size : 500% 200%;
    cursor: pointer;
}
.navigation-button:active {
   background-position-y: 100%;
}
.navigation-button:focus {
   background-position-y: 100%;
}
@media (pointer:fine) {
    .navigation-button:hover {
       background-position-y: 100%;
    }
}

.navigation-first {
   background-position-x: 0;
}
.navigation-previous {
   background-position-x: 25%;
}
.navigation-next {
   background-position-x: 50%;
}
.navigation-last {
       background-position-x: 75%;
}
.navigation-archive {
   background-position-x: 100%;
}


/* COMIC BLOG POST SECTION */
.comic-post {
    {% if comic.post_border_image %}
    border: 43px solid transparent;
    border-image: url({{ comic.post_border_image.url }}) fill 43 repeat;
    {% else %}
    border: 1px solid black;
    {% endif %}
    margin-bottom: 48px;
}
.comic-post-content {
    margin: -20px;  /* To undo the very wide image border */
}


/* COMIC INVITATION SECTION */
.invitation {
    width: 100%;
}
.invitation img {
    width: 100%;
    margin-bottom: 24px;
}


/* COMIC TRANSCRIPT SECTION */
.comic-transcript-content {
    margin: -20px;
}

/* FOOTER AND SOCIAL ICONS */
.social-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    max-width: 100%;
}
.social-icon {
    width: 24px;
    height: 24px;
    border-radius: 24px;
    font-size: 24px;
    padding: 8px;
    text-align: center;
    background-color: var(--footer-background-dark-color);
    margin: 8px;
}

footer {
    color: black;
    background-color: var(--footer-background-light-color);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    text-align: center;
    padding-bottom: var(--ad-height);
}

.footer-content {
    padding: 8px;
    box-sizing: border-box;
}

.footer-subsection {
    background-color: var(--footer-background-dark-color);
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

footer a:link {
    color: black;
}
footer a:visited {
    color: black;
}
footer a:hover {
    color: #978b65;
}
footer a:active {
    color: #978b65;
}


/* ARCHIVE PAGE */
.archive-tagtype-container {
    display: flex;
    justify-content: center;
}
.archive-tagtype-container a {
    padding: 8px;
}
.archive-page-td-date {
    min-width: 128px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.archive-page-td-title {
    border-left: 4px solid var(--blockquote-border-color);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 24px;
}

/* TAG DETAIL PAGE */
.tag-detail-header {
    display: flex;
    align-items: center;
}

.tag-detail-header img {
    height: 128px;
    width: 128px;
    border-right: 4px solid var(--blockquote-border-color);
    margin-right: 24px;
    padding-right: 24px;
}

#tag-post {
    margin-top: 24px;
    margin-bottom: 24px;
}