{% extends 'comics/base.html' %}

{% block content %}
    <div class="comic-post">
        <div class="tag-detail-header">
            <img src="{{ tag.icon.url }}"/>
            <div>
                <h1>{{ tag.title }}</h1>
                <p>Character</p>
            </div>
        </div>

        <div id="tag-post">{{ tag.post }}</div>

        <h2>Pages {{ tag.title }} appeared in:</h2>
        <ul>
            {% for page in tag.pages.all %}
            <li><span class="archive-pagelist-item">{{ page.posted_at | date:"M d Y" }}</span> <a href="{% url 'reader' comic.slug page.slug %}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>

        <script>
            function htmlDecode(input){
                var e = document.createElement('div');
                e.innerHTML = input;
                return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
            }
            var MARKDOWN = window.markdownit();
            var post = document.getElementById("tag-post");
            console.log(post.innerHTML);
            post.innerHTML = MARKDOWN.render(htmlDecode(post.innerHTML));
        </script>
    </div>
{% endblock %}